<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, tenemos noticias para ti.</h1>
    
    <p>Tu post titulado '<%= @post.title %>' se ha publicado correctamente.</p>
    
    <p>Notificación generada automáticamente, no responder.</p>
  </body>
</html>