<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado, <%= @user.name %></h1>
    
    <p>Le informamos que su cuenta en Knowledge Community ha sido <b>eliminada</b>.</p>
    <p><br><b>Motivo:</b> <%= @motivo %></p>
    
    <p>Notificación generada automáticamente, no responder.</p>
  </body>
</html>