<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, tenemos noticias sobre el post '<%= @post.title %>'.</h1>
    
    <p><%= @commenter_name %> a realizado un comentario en el post.</p>
    <p><br>"<%= @contenido %>"</p>
    
    <p>Notificación generada automáticamente, no responder.</p>
  </body>
</html>