<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, le informamos que se ha eliminado un comentario suyo realizado en '<%= @post.title %>'.</h1>
    
    <p><br><b>Motivo:</b> <%= @motivo %></p>
    
    <p>Notificación generada automáticamente, no responder.</p>
  </body>
</html>